body {
  font-family: Arial, sans-serif;
  background-color: #7cb0e3;
  text-align: center;
  margin: 20px;
}

h1 {
  color: #2c3e50;
  background-color: bisque;
}

p {
  font-size: 18px;
  color: #34495e;
  background-color: beige;
}

img {
  border-radius: 8px;
  margin-top: 10px;
  height: 20rem;
}